body{
    background-color:rgb(235, 229, 239);
    margin:0;
    padding:0;
}
.heading{
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}
.header{
    text-shadow: 2px 2px 2px 5px rgb(19, 18, 18);
}
.button{
    padding:0.5rem;
    margin:0.5rem;
    background-color:rgb(175, 168, 181);
    border-radius:0.5rem;
}
button{
    margin:1rem;
    background-color:rgb(175, 168, 181);
    border-radius:0.25rem;
}

.edit-button, .delete-button{
    background-color:rgb(5, 42, 128);
    margin:0.5rem;
    padding:0.5rem;
    color:white;

}

.table{
    border:2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    color:grey;
    
    
}
.tr{
    border:2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    color:grey;

}
.td{
    border:2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    color:grey;

}

.thead{
    background-color:rgb(5, 42, 128);
    color:white;
    padding:0.5rem
}


table,th,td{
    border:2px solid rgb(8, 8, 8);
    border-collapse: collapse;
    color:grey;
    
} 
table{
    width:100vw;
}
form{
    margin:1rem;
}




.input{
    display:block;
    margin-bottom:0.5rem;
    padding:0.25rem;
    width:100%;
    border-radius:.25rem;
    
}


.form{
    position:absolute;
    top:50%;
    left:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:left;
    background-color:rgb(95, 133, 222);
    border:black;
    border-radius:0.5rem;
    min-width:30rem;
    

}
.submit{
    padding:1rem;
    background-color:rgb(5, 42, 128);
    color:white;
}

/* styling div element */

.delete-container{
    display:inline-block;
    border-radius:0.5rem;
    background-color:rgb(95, 133, 222);
    padding:1rem;
    position:absolute;
    top:50%;
    left:50%;

}

.yesButton,.noButton{
    
    background-color:rgb(32, 57, 115);
}
